  A                   = "{{ recordA }}"
  AAAA                = "{{ recordAAAA }}" 
  CNAME               = "{{ recordCANME }}" 
  MX                  = "{{ recordMX }}"
  SPF                 = "{{ recordSPF }}"
  SRV                 = "{{ recordSRV }}"
  TXT                 = "{{ recordTXT }}"
  NS                  = "{{ recordNS }}"
-------------------------------------------------
total records Created = "{{  recordsCreated  }}"
  
total recrds in AWS   = "{{ rs }}"
-------------------------------------------------
  A                   = "{{ awsArecord }}"
  AAAA                = "{{ awsAAAArecord }}" 
  CNAME               = "{{ awsCNAMErecord }}" 
  MX                  = "{{ awsMXrecord }}"
  SPF                 = "{{ awsSPFrecord }}"
  SRV                 = "{{ awsSRVrecord }}"
  TXT                 = "{{ awsTXTrecord }}"
  NS                  = "{{ awsNSrecord }}"
